<form action="/rooms/create" method="POST">
    Name:<br>
    <input type="text" name="name"><br>
    Description:<br>
    <input type="text" name="desc"><br>
    Player:<br>
    <input type="number" name="players"><br>
    <input type="submit">
</form>