$accent-color = #FF7F50
//$accent-color = #57ffeb

body
  margin 0px
  overflow hidden
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-repeat repeat
  height 100vh
a
  color: #00B7FF

.debug
  position fixed
  top 20px
  right 20px
  color white

#labels
  display fixed
  color white
  font-size 3vh
  user-select none
  text-align center
  text-shadow: 0.2vh 0.2vh #000

  p
    margin 1vh 0

  .large
    margin 5vh 0
    font-size 5vh

#decision
  display none
  padding 2vw
  position fixed
  color white
  font-size 3vh
  user-select none
  text-shadow: 0.2vh 0.2vh #000
  background-color blueviolet
  width 40vw
  left 28vw

  a
    display block
    margin-bottom 1vh
    cursor pointer

  a:hover
    background-color #00b7ff
    color white

  p
    margin-top 0

#joining, #waiting
  width 90%
  max-width 900px
  margin 0 auto

  button
    font-family "Roboto", sans-serif
    cursor pointer
    font-size 1.3em
    color $accent-color
    border 1px solid $accent-color
    width: calc(100% - 8px)
    padding 8px 20px
    margin 8px 4px
    background-color white
    transition 0.2s
    outline none

    &:hover
      color white
      background-color $accent-color

#waiting
  font-family "Roboto", sans-serif
  text-align center
  h1
    span
      font-size 2em
      font-weight bold
  h2
    span
      font-size 1.6em
      font-weight bold
  button
    width 50%
    margin 0 auto

  ul
    width 80%
    margin 0 auto
    padding 0
    display flex
    flex-wrap wrap
    list-style none

  li
    padding 12px 20px
    border 1px solid $accent-color
    width 100px
    margin 10px auto
    text-align center
  button
    margin-top 20px
  &:before
    display block
    content ""
    min-height 0
    height calc(50vh - 300px)

#joining
  display flex
  flex-wrap wrap
  //font-family "Source Sans Pro", sans-serif



input[type=text]
  //font-family "Source Sans Pro", sans-serif
  width calc(100% - 8px)
  padding 12px 20px
  margin 8px 4px
  box-sizing border-box
  border 1px solid #ccc
  transition 0.5s
  outline none

input[type=text]:focus
  border 1px solid $accent-color

input::placeholder
  text-transform capitalize

select
  width calc(100% - 8px)
  display block
  padding 12px 20px
  margin 8px 4px
  height 41px
  box-sizing border-box
  border 1px solid #ccc
  transition 0.5s
  outline none

.uppercase
  text-transform uppercase

.left, .right
  min-width 250px
  flex 1 1 0
  margin 0 4px

#nameBox
  margin 8px

.sep
  width 8px
  height 0
  flex-grow 0 1 0

.header
  width 90%
  text-align center
  margin 0 auto
  font-family "Roboto", sans-serif

  &:before
    display block
    content ""
    min-height 0
    height calc(50vh - 230px)

// select2 styling
$flat-theme-dark-color = $accent-color

.select2-container--flat
  &.select2
    width calc(100% - 8px)
    height 49px
    margin-bottom 8px
    margin-left 4px

  &.select2-container--open
    .select2-selection--single
      border-color $flat-theme-dark-color
      .select2-selection__arrow
        b
          border-color: $flat-theme-dark-color transparent transparent transparent;
          transform rotate(180deg)

  &.select2-container--open.select2-container--above
    .select2-selection--single, .select2-selection--multiple
      border-top-left-radius 0
      border-top-right-radius 0

  &.select2-container--open.select2-container--below
    .select2-selection--single, .select2-selection--multiple
      border-bottom-left-radius 0
      border-bottom-right-radius 0

  .select2-search--dropdown
    .select2-search__field
      border 1px solid $flat-theme-dark-color
      outline none

  .select2-results > .select2-results__options
    max-height 200px
    overflow-y auto

  .select2-results__option
    &[aria-selected=true]
      background-color white

  .select2-results__option--highlighted[aria-selected]
    background-color $flat-theme-dark-color
    color white

  .select2-dropdown
    border 1px solid $flat-theme-dark-color
    border-radius 0

  .select2-selection--single
    border 1px solid #ccc
    border-radius 0
    outline none
    width 100%
    padding 12px 20px
    margin-top 8px
    height 41px !important
    transition 0.5s

    &:focus
      border-color $flat-theme-dark-color

      .select2-selection__arrow
        b
          border-color: $flat-theme-dark-color transparent transparent transparent;

    .select2-selection__placeholder
      color #777

    .select2-selection__arrow
      height: 26px;

      position: absolute;

      top: 15px;
      right: 5px;

      width: 20px;

      b
        border-color: #777 transparent transparent transparent;
        border-style: solid;
        border-width: 5px 4px 0 4px;

        height: 0;
        left: 50%;

        margin-left: -4px;
        margin-top: -2px;

        position: absolute;

        top 50%
        width 0